In [1]:
import pandas as pd
from google.cloud import bigquery
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
client = bigquery.Client()
client

In [3]:
[i.dataset_id for i in client.list_datasets()]

['austin_311',
 'austin_bikeshare',
 'austin_crime',
 'austin_incidents',
 'austin_waste',
 'baseball',
 'bitcoin_blockchain',
 'bls',
 'bls_qcew',
 'breathe',
 'catalonian_mobile_coverage',
 'catalonian_mobile_coverage_eu',
 'census_bureau_acs',
 'census_bureau_construction',
 'census_bureau_international',
 'census_bureau_usa',
 'census_utility',
 'cfpb_complaints',
 'chicago_crime',
 'chicago_taxi_trips',
 'cloud_storage_geo_index',
 'cms_codes',
 'cms_medicare',
 'cms_synthetic_patient_data_omop',
 'covid19_ecdc',
 'covid19_geotab_mobility_impact',
 'covid19_geotab_mobility_impact_eu',
 'covid19_google_mobility',
 'covid19_google_mobility_eu',
 'covid19_govt_response',
 'covid19_italy',
 'covid19_italy_eu',
 'covid19_jhu_csse',
 'covid19_jhu_csse_eu',
 'covid19_nyt',
 'covid19_usafacts',
 'covid19_weathersource_com',
 'crypto_bitcoin',
 'crypto_bitcoin_cash',
 'crypto_dash',
 'crypto_dogecoin',
 'crypto_ethereum',
 'crypto_ethereum_classic',
 'crypto_litecoin',
 'crypto_zcash',
 'eclipse_megamovie',
 'epa_historical_air_quality',
 'ethereum_blockchain',
 'faa',
 'fcc_political_ads',
 'fda_drug',
 'fda_food',
 'fdic_banks',
 'fec',
 'fhir_synthea',
 'genomics_cannabis',
 'genomics_rice',
 'geo_census_blockgroups',
 'geo_census_tracts',
 'geo_international_ports',
 'geo_openstreetmap',
 'geo_us_boundaries',
 'geo_us_census_places',
 'geo_us_roads',
 'geo_whos_on_first',
 'geolite2',
 'ghcn_d',
 'ghcn_m',
 'github_repos',
 'gnomAD',
 'google_analytics_sample',
 'google_political_ads',
 'hacker_news',
 'human_genome_variants',
 'human_variant_annotation',
 'iowa_liquor_sales',
 'irs_990',
 'labeled_patents',
 'libraries_io',
 'london_bicycles',
 'london_crime',
 'london_fire_brigade',
 'medicare',
 'ml_datasets',
 'moon_phases',
 'nasa_wildfire',
 'ncaa_basketball',
 'new_york',
 'new_york_311',
 'new_york_citibike',
 'new_york_mv_collisions',
 'new_york_subway',
 'new_york_taxi_trips',
 'new_york_trees',
 'nhtsa_traffic_fatalities',
 'nlm_rxnorm',
 'noaa_goes16',
 'noaa_goes17',
 'noaa_gsod',
 'noaa_historic_severe_storms',
 'noaa_hurricanes',
 'noaa_icoads',
 'noaa_lightning',
 'noaa_passive_acoustic_index',
 'noaa_pifsc_metadata',
 'noaa_preliminary_severe_storms',
 'noaa_significant_earthquakes',
 'noaa_tsunami',
 'nppes',
 'open_images',
 'openaq',
 'persistent_udfs',
 'samples',
 'san_francisco',
 'san_francisco_311',
 'san_francisco_bikeshare',
 'san_francisco_film_locations',
 'san_francisco_sffd_service_calls',
 'san_francisco_sfpd_incidents',
 'san_francisco_transit_muni',
 'san_francisco_trees',
 'sdoh_bea_cainc30',
 'sdoh_cdc_wonder_natality',
 'sdoh_cms_dual_eligible_enrollment',
 'sdoh_hrsa_shortage_areas',
 'sdoh_hud_housing',
 'sdoh_hud_pit_homelessness',
 'sdoh_snap_enrollment',
 'sec_quarterly_financials',
 'stackoverflow',
 'sunroof_solar',
 'the_met',
 'umiami_lincs',
 'un_sdg',
 'usa_names',
 'usda_nass_agriculture',
 'usfs_fia',
 'utility_eu',
 'utility_us',
 'wikipedia',
 'wise_all_sky_data_release',
 'world_bank_global_population',
 'world_bank_health_population',
 'world_bank_intl_debt',
 'world_bank_intl_education',
 'world_bank_wdi',
 'worldpop']

In [4]:
dataset = client.get_dataset(client.dataset("new_york_subway"))
dataset

Dataset(DatasetReference('bigquery-public-data', 'new_york_subway'))

In [5]:
[i.table_id for i in client.list_tables(dataset)]

['geo_nyc_borough_boundaries',
 'routes',
 'station_complexes',
 'station_entrances',
 'stations',
 'stop_times',
 'subway_ridership_2013_present',
 'trips']

In [6]:
table_routes = client.get_table(dataset.table("routes"))
table_routes

Table(TableReference(DatasetReference('bigquery-public-data', 'new_york_subway'), 'routes'))

In [7]:
routes = client.list_rows(table_routes).to_dataframe()
routes.head()

,route_id,route_short_name,route_long_name,route_describe,route_type
0,GS,S,42 St Shuttle,Operates in Manhattan between Grand Central an...,1
1,C,C,8 Avenue Local,"Trains operate between 168 St, Manhattan, and ...",1
2,E,E,8 Avenue Local,Trains operate between Jamaica Center (Parsons...,1
3,N,N,Broadway Local,"Trains operate from Astoria-Ditmars Boulevard,...",1
4,R,R,Broadway Local,Trains operate local between Forest Hills-71 A...,1

In [8]:
table_stations = client.get_table(dataset.table("stations"))
table_stations

Table(TableReference(DatasetReference('bigquery-public-data', 'new_york_subway'), 'stations'))

In [9]:
stations = client.list_rows(table_stations).to_dataframe()

In [10]:
stations.head()

,station_id,complex_id,gtfs_stop_id,division,line,station_name,borough_name,daytime_routes,structure,north_direction_label,south_direction_label,station_lat,station_lon,station_geom
0,1,1,R01,BMT,Astoria,Astoria - Ditmars Blvd,Queens,N W,Elevated,None,Manhattan,40.775036,-73.912034,POINT(-73.912034 40.775036)
1,2,2,R03,BMT,Astoria,Astoria Blvd,Queens,N W,Elevated,Ditmars Blvd,Manhattan,40.770258,-73.917843,POINT(-73.917843 40.770258)
2,3,3,R04,BMT,Astoria,30 Av,Queens,N W,Elevated,Astoria - Ditmars Blvd,Manhattan,40.766779,-73.921479,POINT(-73.921479 40.766779)
3,4,4,R05,BMT,Astoria,Broadway,Queens,N W,Elevated,Astoria - Ditmars Blvd,Manhattan,40.761820,-73.925508,POINT(-73.925508 40.76182)
4,5,5,R06,BMT,Astoria,36 Av,Queens,N W,Elevated,Astoria - Ditmars Blvd,Manhattan,40.756804,-73.929575,POINT(-73.929575 40.756804)

In [11]:
stations["line"].unique()

array(['Astoria', 'Broadway - Brighton', 'Broadway', 'Manhattan Bridge',
       '4th Av', 'Sea Beach / West End / Culver / Brighton', 'West End',
       'Sea Beach', 'Jamaica', 'Myrtle Av', 'Canarsie',
       'Franklin Shuttle', '8th Av - Fulton St', 'Concourse',
       '6th Av - Culver', 'Liberty Av', 'Rockaway', '63rd St',
       'Queens Blvd', 'Queens - Archer', 'Crosstown', 'Broadway - 7Av',
       'Clark St', 'Eastern Pky', 'Nostrand', 'Pelham', 'Jerome Av',
       'Lexington Av', 'Lenox - White Plains Rd', 'Dyre Av', 'Flushing',
       'Lexington - Shuttle', 'Second Av', 'Staten Island'], dtype=object)

In [12]:
routes["route_long_name"].unique()

array(['42 St Shuttle', '8 Avenue Local', 'Broadway Local',
       'Flushing Local', 'Nassau St Local', '6 Avenue Express',
       '7 Avenue Express', '8 Avenue Express', 'Broadway Express',
       'Flushing Express', 'Nassau St Express', 'Brooklyn F Express',
       '14 St-Canarsie Local', 'Rockaway Park Shuttle',
       'Lexington Avenue Local', 'Franklin Avenue Shuttle',
       'Pelham Bay Park Express', 'Lexington Avenue Express',
       'Broadway - 7 Avenue Local', 'Brooklyn-Queens Crosstown',
       'Queens Blvd Local/6 Av Local', 'Queens Blvd Express/ 6 Av Local',
       'Staten Island Railway'], dtype=object)

In [13]:
table_trips = client.get_table(dataset.table("trips"))
table_trips

Table(TableReference(DatasetReference('bigquery-public-data', 'new_york_subway'), 'trips'))

In [14]:
trips = client.list_rows(table_trips).to_dataframe()

In [15]:
trips.head()

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id
0,1,ASP19GEN-1037-Sunday-00,ASP19GEN-1037-Sunday-00_025200_1..N03R,Van Cortlandt Park - 242 St,0,None,1..N03R
1,1,ASP19GEN-1037-Sunday-00,ASP19GEN-1037-Sunday-00_132450_1..N03R,Van Cortlandt Park - 242 St,0,None,1..N03R
2,1,ASP19GEN-1037-Sunday-00,ASP19GEN-1037-Sunday-00_067650_1..N03R,Van Cortlandt Park - 242 St,0,None,1..N03R
3,1,ASP19GEN-1037-Sunday-00,ASP19GEN-1037-Sunday-00_110850_1..N03R,Van Cortlandt Park - 242 St,0,None,1..N03R
4,1,ASP19GEN-1037-Sunday-00,ASP19GEN-1037-Sunday-00_121250_1..N03R,Van Cortlandt Park - 242 St,0,None,1..N03R

In [16]:
stations.head()

,station_id,complex_id,gtfs_stop_id,division,line,station_name,borough_name,daytime_routes,structure,north_direction_label,south_direction_label,station_lat,station_lon,station_geom
0,1,1,R01,BMT,Astoria,Astoria - Ditmars Blvd,Queens,N W,Elevated,None,Manhattan,40.775036,-73.912034,POINT(-73.912034 40.775036)
1,2,2,R03,BMT,Astoria,Astoria Blvd,Queens,N W,Elevated,Ditmars Blvd,Manhattan,40.770258,-73.917843,POINT(-73.917843 40.770258)
2,3,3,R04,BMT,Astoria,30 Av,Queens,N W,Elevated,Astoria - Ditmars Blvd,Manhattan,40.766779,-73.921479,POINT(-73.921479 40.766779)
3,4,4,R05,BMT,Astoria,Broadway,Queens,N W,Elevated,Astoria - Ditmars Blvd,Manhattan,40.761820,-73.925508,POINT(-73.925508 40.76182)
4,5,5,R06,BMT,Astoria,36 Av,Queens,N W,Elevated,Astoria - Ditmars Blvd,Manhattan,40.756804,-73.929575,POINT(-73.929575 40.756804)

In [17]:
stations["daytime_routes"].str.split(" ").apply(len).max()

4

In [18]:
result = pd.DataFrame()
for i,j in enumerate(stations["daytime_routes"]) :
    t = j.split(" ")
    temp = pd.DataFrame({"index":[i]*len(t), "daytime_routes":t})
    result = pd.concat([result, temp])

In [19]:
result

    index daytime_routes
0       0              N
1       0              W
0       1              N
1       1              W
0       2              N
..    ...            ...
0     491            SIR
0     492            SIR
0     493            SIR
0     494            SIR
0     495            SIR

[770 rows x 2 columns]

In [20]:
result = result.set_index(["index"])

In [21]:
result.head()

      daytime_routes
index
0                  N
0                  W
1                  N
1                  W
2                  N

In [22]:
stations.head()

,station_id,complex_id,gtfs_stop_id,division,line,station_name,borough_name,daytime_routes,structure,north_direction_label,south_direction_label,station_lat,station_lon,station_geom
0,1,1,R01,BMT,Astoria,Astoria - Ditmars Blvd,Queens,N W,Elevated,None,Manhattan,40.775036,-73.912034,POINT(-73.912034 40.775036)
1,2,2,R03,BMT,Astoria,Astoria Blvd,Queens,N W,Elevated,Ditmars Blvd,Manhattan,40.770258,-73.917843,POINT(-73.917843 40.770258)
2,3,3,R04,BMT,Astoria,30 Av,Queens,N W,Elevated,Astoria - Ditmars Blvd,Manhattan,40.766779,-73.921479,POINT(-73.921479 40.766779)
3,4,4,R05,BMT,Astoria,Broadway,Queens,N W,Elevated,Astoria - Ditmars Blvd,Manhattan,40.761820,-73.925508,POINT(-73.925508 40.76182)
4,5,5,R06,BMT,Astoria,36 Av,Queens,N W,Elevated,Astoria - Ditmars Blvd,Manhattan,40.756804,-73.929575,POINT(-73.929575 40.756804)

In [23]:
stations = stations.merge(result,how="left",left_index=True, right_index=True)

In [24]:
stations.head()

,station_id,complex_id,gtfs_stop_id,division,line,station_name,borough_name,daytime_routes_x,structure,north_direction_label,south_direction_label,station_lat,station_lon,station_geom,daytime_routes_y
0,1,1,R01,BMT,Astoria,Astoria - Ditmars Blvd,Queens,N W,Elevated,None,Manhattan,40.775036,-73.912034,POINT(-73.912034 40.775036),N
0,1,1,R01,BMT,Astoria,Astoria - Ditmars Blvd,Queens,N W,Elevated,None,Manhattan,40.775036,-73.912034,POINT(-73.912034 40.775036),W
1,2,2,R03,BMT,Astoria,Astoria Blvd,Queens,N W,Elevated,Ditmars Blvd,Manhattan,40.770258,-73.917843,POINT(-73.917843 40.770258),N
1,2,2,R03,BMT,Astoria,Astoria Blvd,Queens,N W,Elevated,Ditmars Blvd,Manhattan,40.770258,-73.917843,POINT(-73.917843 40.770258),W
2,3,3,R04,BMT,Astoria,30 Av,Queens,N W,Elevated,Astoria - Ditmars Blvd,Manhattan,40.766779,-73.921479,POINT(-73.921479 40.766779),N

In [25]:
routes.head()

,route_id,route_short_name,route_long_name,route_describe,route_type
0,GS,S,42 St Shuttle,Operates in Manhattan between Grand Central an...,1
1,C,C,8 Avenue Local,"Trains operate between 168 St, Manhattan, and ...",1
2,E,E,8 Avenue Local,Trains operate between Jamaica Center (Parsons...,1
3,N,N,Broadway Local,"Trains operate from Astoria-Ditmars Boulevard,...",1
4,R,R,Broadway Local,Trains operate local between Forest Hills-71 A...,1

In [26]:
routes["route_short_name"].value_counts()

S      3
N      1
7      1
J      1
B      1
A      1
1      1
7X     1
G      1
F      1
5      1
R      1
6X     1
2      1
4      1
Q      1
6      1
C      1
SIR    1
Z      1
E      1
FX     1
3      1
D      1
L      1
5X     1
M      1
W      1
Name: route_short_name, dtype: int64