In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn
import os

%matplotlib inline
mpl.rcParams["axes.unicode_minus"] = False
mpl.rcParams["font.family"] = "D2Coding"

In [6]:
os.listdir()

['msft.csv', 'windows store.ipynb']

In [11]:
df = pd.read_csv("./msft.csv")
df["Date"] = pd.to_datetime(df["Date"])

In [12]:
df.head()

,Name,Rating,No of people Rated,Category,Date,Price
0,Dynamic Reader,3.5,268,Books,2014-07-01,Free
1,"Chemistry, Organic Chemistry and Biochemistry-...",3.0,627,Books,2014-08-01,Free
2,BookViewer,3.5,593,Books,2016-02-29,Free
3,Brick Instructions,3.5,684,Books,2018-01-30,Free
4,Introduction to Python Programming by GoLearni...,2.0,634,Books,2018-01-30,Free